---
import Layout from "../layouts/Layout.astro";
import CardServicios from "../components/CardServicios.astro";
import Expandiblesection from "../components/Expandiblesection.astro";

import preguntasfrecuentes from "../config/preguntasfrecuentes.json";

import circuit from "../assets/images/circuit.jpeg";
import elec1 from "../assets/images/elec1.jpg";
import electro from "../assets/images/electro.jpg";
---

<Layout title="Index">
	<!-- SECCION 1 -->
	<section
		class="my-9 flex justify-between min-h-96 pt-2.5 items-center lg:w-5/6"
	>
		<div class="flex flex-col gap-y-10 w-3/4 items-center m-auto">
			<h1
				class="text-3xl sm:text-4xl lg:text-5xl ml-3 sm:pl-0 font-semibold tracking-tight text-center"
			>
				<span
					class="bg-gradient-to-r from-red-400 via-orange-800 to-blue-600 text-transparent bg-clip-text"
					>Proyectos electrónicos</span
				>
			</h1>

			<p
				class="text-base sm:text-lg lg:text-1xl text-rose-950 ml-3 sm:pl-0 text-center max-w-2xl"
			>
				Si estas de acuerdo con nuestra
				<a href="/notaPrivacidad" class="underline text-teal-900"
					>política de Privacidad</a
				>
				y con los
				<a href="/terminos" class="underline text-teal-900"
					>términos y condiciones</a
				>, coméntanos qué tipo de proyecto electrónico requieres
				enviando un correo electrónico.
			</p>

			<div class="flex text-amber-50">
				<a
					class="mx-2"
					href="mailto:contacto.negocio@gmail.com"
					title="Enviar correo"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="30"
						height="30"
						viewBox="0 0 24 24"
						fill="currentColor"
						class="icon icon-tabler icons-tabler-filled icon-tabler-mail"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path
							d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z"
						></path><path
							d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z"
						></path></svg
					>
				</a>
				<a class="mx-2" href="">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="30"
						height="30"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="icon icon-tabler icons-tabler-outline icon-tabler-brand-tiktok"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path
							d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"
						></path></svg
					>
				</a>
			</div>
		</div>

		<div class="hidden md:block md:w-1/4 h-98 rounded-2xl">
			<img
				class="rounded-2xl h-full m-auto w-full object-cover"
				src="images/munie.jpeg"
				alt="image"
			/>
		</div>
	</section>

	<!-- SECCION 2 -->
	<section class="mt-7 mx-auto flex flex-col w-5/6 lg:w-full">
		<div class="grid xl:w-4/5 sm:grid-cols-3 lg:gap-10 xl:m-auto">
			<CardServicios
				title={"Proyectos electrónicos con brazos robóticos"}
				description={"Se implementan proyectos con brazos robóticos usando microntroladores PIC "}
				image={circuit}
			/>
			<CardServicios
				title={"Proyectos electrónicos con circuitos analógicos"}
				description={"Se realiza el diseño e implementación de proyectos con circuitos y componentes analógicos"}
				image={elec1}
			/>
			<CardServicios
				title={"Venta de componentes electrónicos"}
				description={"Venta de componentes electrónicos"}
				image={electro}
			/>
			<CardServicios
				title={"Elaboración de proyectos electrónicos y asesorias"}
				description={"Elaboración de proyectos electrónicos para trabajos universitarios y asesorías en electrónica analógica y programación de microcontroladores"}
				image={electro}
			/>
		</div>
	</section>

	<!-- SECCION 3 PREGUNTAS-->

	<section class="flex mt-20 mx-auto w-5/6 justify-around lg:w-full">
		<div class="hidden xl:block xl:w-2/5 pl-28 my-auto">
			<h1 class="text-4xl w-1/2 font-semibold">Preguntas frecuentes</h1>
		</div>
		<div class="flex flex-col w-full xl:w-3/5 px-3 gap-3 mb-3">
			{
				preguntasfrecuentes.map((pregunta) => (
					<Expandiblesection
						title={pregunta.title}
						description={pregunta.description}
					/>
				))
			}
		</div>
	</section>
</Layout>
