---
import Layout from "../layouts/Layout.astro";
import CardServicios from "../components/CardServicios.astro";
import Expandiblesection from "../components/Expandiblesection.astro";

import preguntasfrecuentes from "../config/preguntasfrecuentes.json";

import circuit from "../assets/images/circuit.jpeg";
import brazo from "../assets/images/brazo.jpg";
import io from "../assets/images/io.png";
import dash from "../assets/images/dash.png";
import onoff from "../assets/images/onoff.png";
import alerta from "../assets/images/alerta.png";

---

<Layout title="Index">
	<!-- SECCION 1 -->
	<section
		class="relative my-9 min-h-96 flex justify-center mx-auto items-center lg:w-5/6 bg-[url('/images/flyb2.jpeg')] bg-cover bg-center rounded-2xl"
	>
		<div class="absolute inset-0 bg-black/50 rounded-2xl"></div>
		<div class="flex flex-col gap-y-10 w-3/4 items-center text-white">
			<span class="bg-black/50 px-3 py-1 rounded-lg backdrop-blur-sm">
			<h1	
				class="text-3xl sm:text-4xl lg:text-5xl ml-3 sm:pl-0 font-semibold tracking-tight text-center"
			>
				<span
					class="bg-gradient-to-r from-red-400 via-orange-500 to-blue-500 text-transparent bg-clip-text"
					>Ideas que se convierten en electrónica</span
				>
			</h1>
			<p class="text-lg text-gray-200 mt-4 ml-3 font-semibold">
				Proyectos, pruebas y soluciones simples en electrónica.
			</p>
			</span>
			<p
				class="text-base sm:text-lg lg:text-xl text-white text-center max-w-2xl drop-shadow-md leading-relaxed tracking-tight"
			>
				Si estas de acuerdo con nuestra
				<a href="/notaPrivacidad" class="underline text-teal-300 hover:text-teal-200 font-semibold"
					>política de Privacidad</a
				>
				y con los
				<a href="/terminos" class="underline text-teal-300 hover:text-teal-200 font-semibold"
					>términos y condiciones</a
				>, coméntanos qué tipo de proyecto electrónico requieres
				enviando un correo electrónico.
			</p>

			<div class="flex gap-4">
				<a
					class="p-2 bg-white/10 rounded-full backdrop-blur-sm hover:bg-white/20 transition"
					href="mailto:contacto.negocio@gmail.com"
					title="Enviar correo"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="30"
						height="30"
						viewBox="0 0 24 24"
						fill="gray"
						class="icon icon-tabler icons-tabler-filled icon-tabler-mail w-6 h-6 text-white fill-curren"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path
							d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z"
						></path><path
							d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z"
						></path></svg
					>
				</a>
				<a class="p-2 bg-white/10 rounded-full backdrop-blur-sm hover:bg-white/20 transition" href="">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="30"
						height="30"
						viewBox="0 0 24 24"
						fill="none"
						stroke="gray"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="icon icon-tabler icons-tabler-outline icon-tabler-brand-tiktok w-6 h-6 text-white fill-curren"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path
							d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"
						></path></svg
					>
				</a>
			</div>
		</div>

	</section>

	<!-- SECCION 2 -->
	<section class="mt-7 mx-auto flex flex-col w-5/6 lg:w-full">
		<div class="grid xl:w-4/5 sm:grid-cols-3 lg:gap-10 xl:m-auto">
			<CardServicios
				title={"Proyectos electrónicos con brazos robóticos"}
				description={"Implementación de brazos robóticos con microcontroladores PIC, conectados y controlados mediante puerto serial."}
				image={brazo}
			/>
			<CardServicios
				title={"Proyectos electrónicos con circuitos analógicos"}
				description={"Diseño e implementación de proyectos con circuitos y componentes analógicos para aplicaciones educativas y experimentales."}
				image={circuit}
			/>
			<CardServicios
				title={"Proyectos IoT con PIC + Node.js"}
				description={"Sensores conectados al microcontrolador, datos mostrados en tiempo real en tu website mediante Node.js y Socket.io."}
				image={io}
			/>
			<CardServicios
				title={"Control remoto de proyectos electrónicos"}
				description={"Encender/apagar dispositivos vía Node.js desde la web, utilizando microcontroladores PIC para controlar proyectos electrónicos de forma remota."}
				image={onoff}
			/>
			<CardServicios
				title={"Alertas y notificaciones en proyectos electrónicos"}
				description={"Implementación de un sistema de monitoreo con microcontroladores PIC y Node.js, capaz de procesar datos seriales en intervalos cortos, generar alertas en tiempo real cuando se superan umbrales definidos y enviar resúmenes periódicos a tu dispositivo móvil."}
				image={alerta}
			/>
		    <CardServicios
				title={"Dashboard IoT"}
				description={"Desarrollo de dashboards web interactivos para IoT, listos para conectarse a cualquier microcontrolador o sistema de backend. Incluyen visualización de datos en tiempo real, control de actuadores y gráficos interactivos, con soporte para integración mediante APIs."}
				image={dash}
			/>
		</div>
	</section>

	<!-- SECCION 3 PREGUNTAS-->

	<section class="flex mt-20 mx-auto w-5/6 justify-around lg:w-full">
		<div class="hidden xl:block xl:w-2/5 pl-28 my-auto">
			<h1 class="text-4xl w-1/2 font-semibold">Preguntas frecuentes</h1>
		</div>
		<div class="flex flex-col w-full xl:w-3/5 px-3 gap-3 mb-3">
			{
				preguntasfrecuentes.map((pregunta) => (
					<Expandiblesection
						title={pregunta.title}
						description={pregunta.description}
					/>
				))
			}
		</div>
	</section>

	<!-- SECCION 4 PREGUNTAS-->
	<section id="contacto" class="w-full min-h-screen bg-gradient-to-b from-gray-50 to-gray-200 flex items-center justify-center p-6">
		<div class="w-full max-w-3xl h-[85vh] bg-white rounded-2xl shadow-2xl overflow-hidden">
		<iframe 
			src="https://formulario2026jye.netlify.app/?token=IFR12AM3"
			class="w-full h-full border-0">
		</iframe>
		</div>
	</section>


</Layout>
